<%= render "shared/errors_messages" %>
<%= form_for :session, :url => sessions_path, :html => {:class => 'nice'} do |f| %>
  <%= f.label :email, t(:login_info) %>
  <%= f.text_field :email, :class => 'input-text', :autocomplete => :off %>

  <%= f.label :password, t(:password) %>
  <%= f.password_field :password, :class => 'input-text' %>

  <%= t(:recover_msg) %>
  <%= link_to t(:reset_password), reset_password_path %><br/>

  <%= f.check_box :cookies, :checked => true %>
  <%= t(:remember_me) %><br/><br/>

  <%= f.submit t("continue") %>

<% end %>

<p>
  <%= t(:signup_msg) %> <%= link_to t(:signup_now), signup_path %>
</p>
