<table>
	<tr>
		<th><%= t(:name) %></th>
		<th><%= t(:wins) %></th>
		<th><%= t(:loses) %></th>
		<th><%= t(:last_online) %></th>
	</tr>
	<% object.each do |user|%>
	<tr>
		<td><%= avatar_image_tag user %><%= link_to user.name, '#' %></td>
		<td>
			<%= user.wins %>
		</td>
		<td>
		  <%= user.loses %>
		</td>
		<td>
			<%= time_ago_in_words user.last_request_at if user.last_request_at %>
		</td>
		<td><%= link_to t(:start_duel), new_game_path(:opponent => user.name), :remote => true %></td>
	</tr>
	<% end %>
</table>
