<div class="user_profile">
	<%= avatar_image_tag(@user) %>
	<%= @user.name %>
	<% if correct_user?(@user) %>
		<%= link_to t(:settings), edit_user_path(@user) %>
		<%= link_to t(:start_a_game), duel_path %>
	<% else %>
		<% if user_signed_in? and current_user != @user %>
		  <%= link_to t(:start_duel), new_game_path(:opponent => @user.name) %>
			<div id="follow_form">
			<% if current_user.following?(@user) %>
				<%= render 'unfollow' %>
			<% else %>
				<%= render 'follow' %>
		  <% end %>
			</div>
		<% end %>
	<% end %>
</div>

<div class="user_social">
	<span class="stat">
		<%= t(".following") %>
		<span id="following">
			<%= link_to @user.following.count, following_user_path(@user) %>
		</span>
	</span>
	<span class="stat">
		<%= t(".followers") %>
		<span id="follower">
			<%= link_to @user.followers.count, followers_user_path(@user) %>
		</span>
	</span>
</div>