<div class="fixed show">
  <div>
    <%= render "shared/errors_messages" %>
    <h3><%= t ".new_user" %></h3>
    <%= form_for @user, :html => { :multipart => true, :class => 'nice' } do |f| %>

    <%= f.label :name, t(".username") %>
    <%= f.text_field :name, :class => 'input-text', :autocomplete => :off %><br/>

    <%= f.label :email, t(".email") %>
    <%= f.text_field :email, :class => 'input-text', :autocomplete => :off %><br/>

    <%= f.label :password, t(".password") %>
    <%= f.password_field :password, :class => 'input-text' %><br/>

    <%= f.label :password_confirmation, t(".confirm") %>
    <%= f.password_field :password_confirmation, :class => 'input-text' %><br/>

    <%= f.radio_button :open_for_play, "true" %>
    <%= t(".open_for_play") %><br/>
    <%= f.radio_button :open_for_play, "false" %>
    <%= t(".close_for_play") %><br/><br/>

    <%= f.label t(:upload_image) %>
    <%= f.file_field :avatar %><br/><br/>

    <div class="alert-box warning"><%= t(:image_notice) %></div>

    <%= f.submit t(".create") %>
<% end %>
</div>
</div>
