<div class="fixed show">
	<%= render "shared/errors_messages" %>
	<%= form_for :user, :url => recover_password_url do |f| %>
	  <div class="field">
			<%= f.label :email %><br/>
			<%= f.text_field :email %>
		</div>
	
		<div class="field">
			<%= f.submit t(:reset_password) %>
		</div>
	<% end %>
</div>