<div class="fixed show">
  <%= render "shared/errors_messages" %>
  <%= form_for :user, :url => recover_password_url do |f| %>

    <%= f.label t(:email_to_reset) %>
    <%= f.text_field :email %><br/>

    <%= f.submit t(:reset_password) %>

  <% end %>
</div>
