<div class="show_follow">
	<h3>
		<%= @user.name %>
		<%= @action %>
	</h3>
	<ul>
	<% unless @users.empty? %>
		<% for user in @users %>
		<li>
			<%= avatar_image_tag user %>
			<%= link_to user.name, user %>
		</li>
		<% end %>
	<% end %>
	</ul>
</div>

<div class="paginate">
	<%= paginate @users %>
</div>