<div class="feed_show">
	<%= link_to image_tag(feed_item.thumbnail), feed_item %>
	<p>
		<span class="feed_player">
			<% black = feed_item.black_player %>
			<%= link_to black.name, black %>
		</span>
		<%= t("and") %>
		<span class="feed_player">
			<% white = feed_item.white_player %>
			<%= link_to white.name, white %>
		</span>
		<% if feed_item.status == 0 %>
			<%= t("playing_game") %>
		<% else %>
		  <%= t("finished_game") %>
		<% end %>
		<%= link_to feed_item.id, feed_item %>
		<br/>
		<span class="update_time">
			<%= time_ago_in_words feed_item.updated_at %>
		</span>
	</p>
	<p>
		<% comment = feed_item.comments.first %>
		<% if comment %>
			<% player = User.find(comment.user_id).name %>
			<%= player %>
			<%= t("says") %>
			<%= comment.content %>
		<% end %>
	</p>
	<div class="feed_link">
		<%= link_to t(".go"), feed_item %>
	</div>
</div>