<% object.each do |game| %>
	<div class="record_item" id="game_<%= game.id %>">
		<% if game.thumbnail %>
			<%= link_to image_tag(game.thumbnail), game_path(game), :class => "record_thumbnail" %>
		<% end %>
		<div class="record_details">
			<%= link_to game.name, game %>
			<p><%= game.created_at.to_formatted_s(:db) %></p>
			<p><%= game.brief %></p>
		</div>
	</div>
<% end %>