<% if object.empty? %>
	<span class="notify_none"><%= t :none %></span>
<% else %>
	<div class="paginate" id="current_games_pagination">
		<%= paginate @current_games, :params => {:controller => 'games', :action => 'current_games', :user_id => (@user||current_user).id }, :param_name => "current_games_page", :remote => true %>
	</div>
	<div class="divider"></div>
	<div class="game_ladder">
	<% object.each do |game| %>
	<div class="notified_games_list game_<%= game.id %>">
		<% if game.thumbnail %>
			<%= link_to image_tag(game.thumbnail, :class => "game_thumbnail"), game_path(game) %>
		<% end %>
		<div class="game_details <%= game.display_color(current_user) %>">
			<% if game.current_player == game.black_player %>
				<div class="game_player">
					<%= image_tag("black.png") %>
					<% if game.mode != 0 %>
						<%= game.black_player.name %>
					<% end %>
				</div>
				<div class="game_player">
					<%= image_tag("white.png") %>
					<% if game.mode != 0 %>
						<%= game.white_player.name %>
					<% end %>
				</div>
			<% else %>
				<div class="game_player">
					<%= image_tag("white.png") %>
					<% if game.mode != 0 %>
						<%= game.white_player.name %>
					<% end %>
				</div>
				<div class="game_player">
					<%= image_tag("black.png") %>
					<% if game.mode != 0 %>
						<%= game.black_player.name %>
					<% end %>
				</div>
			<% end %>
			<div class="game_update_time">
				<% if game.mode != 0 %>
					<% if game.access == 3 %>
						<%= t(:wait_for_moves) %><br/>
						<% if correct_user?(game.black_player) or correct_user?(game.white_player) %>
							<%= link_to t(:cancel), {:controller => 'games', :action => 'destroy', :id => game.id}, 
													{:method => :delete, :remote => true} %>
						<% end %>
					<% else %>
						<%= time_ago_in_words(game.updated_at) %>
						<% if game.status == 0%>
							<div class="game_status"><%= t :game_in_progress %></div>
						<% else %>
							<div class="game_status"><%= t :game_over %></div>
					  <% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>
	</div>
<% end %>