<div class="notify_wrapper" id="side_bar">
	<% if @user %>
	<div class="notifications">
		<div class="message">
			<% broadcast = Broadcast.last %>
			<% if broadcast.nil? %>
				<h3>broadcasting...</h3>
			<% else %>
				<h3>
				<%= link_to broadcast.title, broadcast %>
				</h3>
				<p>
				<%= broadcast.brief %>
				</p>
			<% end %>
		</div>
	</div>
	<% end %>
	<% if user_signed_in? %>
	<div class="top_bar" id="active_games">
		<div class="refresh"></div>
		<%= t("active_games") %>
		<div id="game_duel">
			<%= link_to t(:game_duel), duel_path %>
		</div>
	</div>
	<div id="notified_games" class="notify_content">
		<%= render('shared/notified_games', :object => @current_games) %>
	</div>

	<div class="top_bar" id="games_widget">
		<div class="refresh"></div>
		<%= t(:watch_games) %>
	</div>
	<div id="games_list" class="notify_content">
		<%= render('games/index') %>
	</div>
	<% end %>
</div>