<h4><%= t ".instructions" %></h4>
<ul>
	<li><%= t ".enter_the_words" %></li>
	<li><%= t ".your_best_guess" %></li>
	<li><%= t ".audio_button" %></li>
</ul>

<h4><%= t ".helping_the_world" %></h4>
<%= t ".more" %>