<div class="divider"></div>
<div class="span-15 game_help">
<h3><%= t(:about) %></h3>
<p>
  Thanks to <%= link_to "Ryan Bates", "https://github.com/ryanb" %>, much of the work could not be done without your amazing <%= link_to "Screen Cast", "http://railscasts.com" %> and <%= link_to "govsgo", "http://govsgo.com" %> app. 
</p>
<p>
Thanks to <%= link_to "Mark Pilgrim", 'http://diveintomark.org/' %>, it's your <%= link_to "HTML5 Tutorial", "http://diveintohtml5.org/" %> who give me the idea on making a game in canvas.
</p>
<p>
Finally, thanks to the rails community :). 
</p>
<p>
  Imonyse, Developer of LaoQiPan.com，2011-06-21
</p>
</div>
