<div class="top">
	<div id="intro" class="notify_wrapper">
		<h2><%= t("intro") %></h2>
		<div id="slide_show">
			<div>
				<%= image_tag 'shang.png' %>
				<p><%= t(".free_to_go") %></p>
			</div>
			<div>
				<%= image_tag 'qu.png' %>
				<p><%= t(".no_download") %></p>
			</div>
			<div>
				<%= image_tag 'ping.png' %>
				<p><%= t(".support_zuozi") %></p>
			</div>
			<div>
				<%= image_tag 'ru.png' %>
				<p><%= t(".confirm_to_move") %></p>
			</div>
		</div>
	</div>
	<%= render 'shared/signin' %>
</div>
<div class="bottom">
	<h3><%= t(:watch_game) %></h3>
	<div id="games_list">
		<%= render "games/index" %>
	</div>
</div>