<div class="top">
	<div id="intro" class="notify_wrapper">
		<div class="top_bar">
			<%= t("intro") %>
		</div>
		<div id="intro_video">
			<div>
				<%= image_tag "index.jpg" %>
				<%= t :introduce_go %>
			</div>
			<div><%= t :introduce_site %></div>
		</div>
	</div>
	<div id="sign_in" class="notify_wrapper">
		<div class="top_bar">
			<%= t("sign_in") %>
		</div>
		<div id="sign_in_text">
			<%= render 'sessions/new' %>
		</div>
	</div>
</div>
<div class="bottom">
	<h3><%= t(:watch_game) %></h3>
	<div id="games_list">
		<%= render "games/index" %>
	</div>
</div>