<div class="game_board">
	<%= render 'games/fallback', :div_id => 'board_review' %>
	<div class="inline">
		<span id="show_steps" class="control_button"><%= t("show_steps") %></span>
		<span id="start" class="control_button"><%= "<<" %></span>
		<span id="end" class="control_button"><%= ">>" %></span>
		<span id="prev" class="control_button"><%= "<=" %></span>
		<span id="next" class="control_button"><%= "=>" %></span>
		<span id="review_steps">0</span><%= t :step %>
	</div>
</div>