<div id="topic_bar">
	<% if !@pro_game.nil? %>
		<h3>
			<%= t :pro_games_view %>
			<%= link_to t('.all_records'), records_path %>
		</h3>
		<div>
			<%= link_to image_tag(@pro_game.thumbnail), @pro_game %>
			<p class="info"><%= @pro_game.name %></p>
			<p>
				<%= @pro_game.brief %><br>
				<%= link_to t('.go'), @pro_game %>
			</p>
		</div>
	<% end %>
	<% if user_signed_in? and current_user.admin? %>
		<div class="clear"><%= link_to t('.new_sgf_game'), upload_sgf_path %></div>
	<% end %>
</div>