<div class="relative">
	<div id="game_area"><%= render "games/the_game" %></div>
	<div id="discussion"><%= render "games/tab_info" %></div>
	<div id="game_review" title="<%= t(:analyse) + t(:analyse_tips) %>">
		<div class="game_board">
			<canvas id="board_review"></canvas>
			<ul class="woody">
				<li id="show_steps" class="control_button woody wood_shadow"><%= t("show_steps") %></li>
				<li id="start" class="control_button woody wood_shadow"><%= "<<" %></li>
				<li id="end" class="control_button woody wood_shadow"><%= ">>" %></li>
				<li id="prev" class="control_button woody wood_shadow"><%= "<=" %></li>
				<li id="next" class="control_button woody wood_shadow"><%= "=>" %></li>
			</ul>
			<span id="review_swap">0</span> <%= t "step" %>
		</div>
	</div>
	<div class="notify_wrapper" id="side_bar">
		<% if user_signed_in? %>
		<div class="top_bar" id="active_games">
			<div class="collapse"></div>
			<%= t(".active_games") %>
			<div class="refresh"></div>
		</div>
		<div id="notified_games" class="notify_content"></div>
		<div class="top_bar" id="games_widget">
			<div class="collapse"></div>
			<%= t(:watch_games) %>
			<div class="refresh"></div>
		</div>
		<div id="games_list" class="notify_content"></div>
		<div class="top_bar" id="duel_list">
			<div class="collapse"></div>
			<%= t :game_duel %>
			<div class="refresh"></div>
		</div>
		<div id="player_list" class="notify_content"></div>
		<div class="top_bar" id="help_widget">
			<div class="collapse"></div>
			<%= t("help") %>
		</div>
		<div id="help_text" class="notify_content">
			<%= t("comming_soon") %>
		</div>
		<% end %>
	</div>
</div>