<%= game_div(@game) do %>
<div class="opponent">
	<% if !@game.nil? %>
		<% if current_user == @game.black_player %>
			<%= avatar_image_tag(@game.white_player) if @game.mode != 0 %>
			<span id="white_player" class="game_player">
				<%= link_to @game.white_player.name, @game.white_player if @game.mode != 0 %>
				<%= t :play_as_white %>
			</span>
			<img class="white_turn">
			<div class="play_as white"></div>
			<div class="captured" id="black_captured"></div>
		<% else%>
			<%= avatar_image_tag(@game.black_player) if @game.mode != 0 %>
			<span id="black_player" class="game_player">
				<%= link_to @game.black_player.name, @game.black_player if @game.mode != 0 %>
				<%= t :play_as_black %>
			</span>
			<img class="black_turn">
			<div class="play_as black"></div>
			<div class="captured" id="white_captured"></div>
		<% end %>
		<div class="inline">
			<span class="control_button"><%= link_to "SGF", game_sgf_path(@game) %></span>
			<span id="analyse" class="control_button"><%= t("analyse") %></span>
			<span id="connection"></span>
		</div>
	<% end %>
</div>

<%= render 'games/fallback', :div_id => 'board' %>

<div id="loader"></div>
<% if !@game.nil? %>
<div id="board_info" class="round"></div>
<div id="start_info" class="round">
	<% if @game.access == 3 and @game.current_player != current_user %>
		<%= t :duel_create_msg %>
	<% end %>
</div>
<% end %>

<div class="me">
	<div class="bottom_profile">
		<% if !@game.nil? %>
			<div id="bottom_turn"></div>
			<div class="inline">
				<% if @game.mode != 0 and @game.status == 0 %>
					<% if (current_user == @game.black_player or current_user == @game.white_player) %>
						<% if !@game.vs_ai? %>
							<span id="score" class="control_button"><%= t(".score") %></span>
						<% end %>
					<% end %>
				<% end %>

				<% if @game.mode != 0 and @game.status == 0 %>
					<% if (current_user == @game.black_player) || (current_user == @game.white_player) %>
						<span id="resign" class="control_button"><%= t(".resign") %></span>
					<% end %>
				<% end %>

				<% if @game.mode != 0 and @game.status != 1 %>
					<span id="pass" class="control_button"><%= t(".pass") %></span>
					<span id="clock" class="control_button"><%= t(".click_to_confirm") %></span>
				<% end %>
					<span>
						<span id="swap">0</span> <%= t "step" %>
						<span id="dt"></span> 
						<span id="re"></span>
					</span>
			</div>
		
			<% if (current_user == @game.black_player) %>
				<img class="black_turn">
				<%= avatar_image_tag(@game.black_player) if @game.mode != 0 %>
				<span id="black_player" class="game_player">
					<%= link_to @game.black_player.name, @game.black_player if @game.mode != 0 %>
					<%= t :play_as_black %>
				</span>
				<div class="play_as black"></div>
				<div class="captured" id="white_captured"></div>
			<% else %>
				<img class="white_turn">
				<%= avatar_image_tag(@game.white_player) if @game.mode != 0 %>
				<span id="white_player" class="game_player">
					<%= link_to @game.white_player.name, @game.white_player if @game.mode != 0 %>
					<%= t :play_as_white %>
				</span>
				<div class="play_as white"></div>
				<div class="captured" id="black_captured"></div>
			<% end %>
		<% end %>
	</div>
</div>
<% end %>