<div class="meta">
<% if user_signed_in? and current_user.admin? %>
	<%= link_to t('.new_broadcast'), new_broadcast_path %>
<% end %>
</div>

<div class="broadcasts">
	<% @broadcasts.each do |b|%>
		<div class="blog">
			<h1><%= link_to b.title, b %></h1>
			<div class="blog_meta">
				<span>
					<%= image_tag 'pen.png' %>
					<%= b.user.name %>
				</span>
				<%= b.created_at.to_s(:db) %>
			</div>
			<div class="brief"><%= b.brief %></div>
			<div class="blog_body">
				<%= markdown b.body %>
			</div>
		</div>
	<% end %>
	<%= paginate @broadcasts %>
</div>