<div class="side_nav">
	<p><%= link_to t('.view') + ' ' + Broadcast.push_to_all.count.to_s + ' ' + t('.broadcasts'), broadcasts_path %></p>
	<p><%= link_to t('.view') + ' ' + Broadcast.count.to_s + ' ' + t('.blogs'), blogs_path %></p>
</div>

<div class="blog">
	<h1><%= @broadcast.title %></h1>
	<div class="blog_meta">
		<span>
			<%= image_tag 'pen.png' %>
			<%= @broadcast.user.name %>
		</span>
		<%= @broadcast.created_at.to_s(:db) %>
		<% if user_signed_in? and current_user.admin? %>
			<%= link_to 'edit', edit_broadcast_path(@broadcast) %>
			<%= link_to 'delete', @broadcast, :method => :delete, :confirm => "continue?" %>
		<% end %>
	</div>
	<div class="brief"><%= @broadcast.brief %></div>
	<div class="blog_body">
		<%= markdown @broadcast.body %>
	</div>
</div>

