<div id="header">
	<div class="container">
		<div class="account">
			<% if user_signed_in? %>
				<%= avatar_image_tag(current_user) %>
				<%= link_to t("settings"), edit_user_path(current_user), :class => "shadow" %>
				<%= link_to current_user.name, user_path(current_user), :id => "account", :class => "shadow" %>
				<%= link_to t("sign_out"), signout_path, :class => "shadow" %>
			<% end %>
		</div>
		<%= link_to image_tag("logo.png"), root_url, :id => 'logo' %>
		<span class="switcher">
			<% if I18n.locale == :en %>
				<%= link_to t("Chinese"), url_for(:locale => 'zh') %>
			<% else %>
				<%= link_to t("English"), url_for(:locale => 'en') %>
			<% end %>
		</span>
	</div>
</div>