<!DOCTYPE html>
<html>
<head>
  <title><%= t :site_name %></title>
	<%= csrf_meta_tag %>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "application" %>
	<!--[if lt IE 7]>
		<script type="text/javascript" src="/browser.js"></script>
	<![endif]-->
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
</head>
<body>
	<%= render "layouts/header" %>

	<div class="container">
		<%= yield %>
	</div>
	
	<%= render "layouts/footer" %>
	
	<div id="browser_check">
		<h4><%= t ".no_canvas_api" %></h4>
		<div class="tips">
			<%= t ".need_plugin_for_ie" %><br/>
			<%= link_to t(".google_chrome_frame"), "http://www.google.com/chromeframe" %>
		</div>
		<div class="small tips">
			<%= t ".sorry_for_that" %>
		</div>
		<h4><%= t ".I_recommand" %></h4>
		<div class="recommand">
			<%= link_to image_tag('chrome_64.png'), "http://www.google.com/chrome" %>
		</div>
		<%= t ".the_best_browser" %>
		<%= link_to t(".download"), "http://www.google.com/chrome" %>
	</div>
	<div id="browser_check_bg"></div>
	
	<% if Rails.env.production? and I18n.locale == :zh %>
	<!--start of feedback code powered by geekui-->
	<script type="text/javascript" src="http://geekui.com/static/js/widgets.js"></script>
	<script type="text/javascript" charset="utf-8">
		var options = {};
		options.company_sub_url = "laoqipan";
		options.placement = "right";
		options.tab_define = false;
		options.display = "overlay";
		options.style = "gray_right.png";
		var feedback_widget = new GKFN.feedback_widget(options);
	</script>
	<!--end of feedback code powered by geekui-->
	<% end %>
</body>
</html>
